<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Zarządzanie użytkownikami</h1>
        </div>
    </div>    
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <th>ID</th>
                    <th>Imię i nazwisko</th>
                    <th>Email</th>
                    <th>UUID</th>
                    <th>Rola</th>
                    <th>Edycja</th>
                </thead>
            </table>
        </div>
    </div>
</div>