<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Panel administracyjny</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-3">
            <a class="hero-widget btn btn-success" ng-href="/admin/users" ng-click="go()">
                <div class="icon">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <label>Użytkownicy</label>
            </a>
        </div>
    </div>
</div>